*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    
}
nav a{
    text-decoration: none;
    color: rgb(168, 162, 162);
    margin: 0 .2rem;
}
nav a:hover{
    color: black;
}